  <P>
    Relocation System
  </P>




  <!--<angular-file-uploader-->
    <!--[config]="afuConfig">-->
  <!--</angular-file-uploader>-->

  <!--<input-->
    <!--style="display: none"-->
    <!--type="file" (change)="onFileChanged($event)"-->
    <!--#fileInput>-->
  <!--<button (click)="fileInput.click()">Select File</button>-->
  <!--<button (click)="onUpload()">Upload!</button>-->


  <!--<div>-->
  <!--<img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Reloj_con_Edificio_de_Grado_de_la_Universidad_Austral.jpg" style="width: 100%">-->
  <!--<button class="add-button" (click)="openDialog()"></button>-->
<!--</div>-->
