html{
  --element-top: 0px;
  --element-left: 0px;
  --element-rotate: 0deg;
}
img{
  z-index: 1;
  position:absolute;
  top:var(--element-top);
  left: var(--element-left);
  transform: rotate(var(--element-rotate));
  visibility: hidden;
}
